*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

    // colors
    --primary-color: #FAB416;
    --secondary-color: #333333;
    --grey-color: #919191;
    --white-color: #F5F5F5;

    // fonts
    --text-style: "Segoe UI";

}