.header {
    background-color: #fff;
    padding: 1rem;
    font-family: var(--text-style);
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;

    .content {
        display: flex;
        justify-content: space-between;
        width: 50vw;

        .menu {
            display: flex;
            justify-content: space-around;

            .menuItem {
                padding: 0.5rem;
                margin: 0.2rem;
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
}