.container {
    background-color: var(--white-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.actions {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;
}

.tableContainer {
    background-color: #fff;
    height: 85vh;
    width: 70%;
    margin-bottom: 2rem;
}

.primaryButton{
    background-color: var(--primary-color);
}
